.App {
  text-align: center;
  display: flex;
}

.inputContainer {
  display: flex;
}

.buttonWrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20px
}

button {
  width: 30px;
  height: 30px;
  margin-left: 16px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix {
  margin: 60px auto;
}

.cell {
  height: 30px;
}

.resultRowContainer {
  position: relative;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.resultRow {
  margin: 0;
  position: absolute;
}

.inputWrapper {
  display: flex;
}

.totalResult {
  margin: 0;
  position: absolute;
  top: 40px;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
